.container {
    form {
        width: 550px;
        padding: 32px;
        height: min-content;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
}

.flex_mod {
    gap: 12px;
}