.container {
    form {
        width: 550px;
        padding: 32px;
        height: min-content;
        display: flex;
        flex-direction: column;
        border-radius: 14px;
        gap: 24px;
    }
}