@import '@src/app/styles/globals.scss';

.container {
    min-width: 60px !important;
    min-height: 60px !important;
    border-radius: 50%;
    user-select: none;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.isLoading {
    background-color: var(--main-skeleton);
}

.small {
    width: 30px;
    height: 30px;
}