@import '@src/app/styles/globals.scss';

.header_container {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75px;
    z-index: 10;
    border-bottom: 1px solid var(--main-border-header);
    background-color: var(--main-input-color);
}