:root {
  --max-width: 1440px;
  --border-radius: 12px;
  --main-bg: #111112;
  --basic-padding: 16px;

  --main-input-color: #1c1c1d;
  --main-focus-color: #383838;
  --main-border-header: #383535;

  --main-link: #6555af;
  --main-link-hover: #37266d;

  --main-skeleton: #4d4a4a;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden !important;
}

html,
body {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--main-bg);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}