@import '@src/app/styles/globals.scss';

.container {
    width: 100%;
    background-color: #181818;
    border: 1px solid #303030;
    border-radius: 12px;
}

.isLoading {
    background-color: var(--main-skeleton);
}

.sm {
    padding: 12px;
}

.null {
    border: 0px !important;
    border-radius: 0px !important;
}

.all {
    border-radius: 12px;
    border: 1px solid #303030;
}

.no_radius {
    border-radius: 0px;
    border: 1px solid #303030;
}

.top {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;

}

.bottom {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top: 0px;
}