.container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px;
    border-bottom: 0px !important;
    flex-grow: 1;
    border-radius: 12px 12px 0px 0px !important;
}

.sceleton {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px;
    flex-grow: 1;

    &:first-child {
        display: flex;
        gap: 12px;
    }
}

.name_container {
    display: flex;
    gap: 12px;
    align-items: center;
}