@import '@src/app/styles/globals.scss';

.container {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    gap: 8px;
}

.icon {
    position: absolute;
    right: 16px;
    top: 27%;
    cursor: pointer;
    background: transparent;
    outline: none;
    border: 0px;
}

.input {
    box-sizing: border-box;
    min-height: 52px;
    padding: 12px;
    border-radius: 10px;
    width: 100%;
    border: 1px solid var(--main-input-color);
    background-color: var(--main-input-color);
    color: white;
    outline: none;
    font-size: 17px;
    transition: all 0.2s ease;

    &:focus {
        border: 1px solid var(--main-focus-color);
    }
}

.input_container {
    cursor: text;
    width: 100%;
    height: 100%;
}

.label {
    width: min-content;
    display: flex;
    font-weight: 500;
    flex-direction: column;
    font-size: var(--basic-padding);
}