.container {
    display: flex;
    width: 100%;
    gap: 8px;
    flex-direction: column;
    align-items: flex-start;
}

.input {
    min-height: 52px;
    padding: 12px;
    border-radius: 10px;
    width: 100%;
    border: 1px solid #545455;
    background-color: rgb(56, 56, 56);
    color: white;
    outline: none;
    font-size: 18px;

    &:focus {
        border: 1px solid #6d6d6e;
    }
}

.input_container {
    cursor: text;
    width: 100%;
    height: 100%;
    background: transparent;
}

.label {
    width: min-content;
    display: flex;
    font-weight: 500;
    flex-direction: column;
    font-size: 18px;
}