.button {
    width: 100%;
    height: 56px;
    padding: 16px 32px 16px 32px;
    border-radius: 8px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: rgb(71, 71, 228);
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    transition: all 0.2s ease;
}

.button:hover {
    background-color: rgb(89, 89, 187);
}