.like_button {
    cursor: pointer;
    transition: transform 0.2s;

    &.liked {
        transform: scale(1.2);
        animation: pulse 0.5s;
    }

    &.unliked {
        transform: scale(1);
        animation: unpulse 0.5s;
    }
}

@keyframes unpulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1.0);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1.2);
    }
}