.container {
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 4px;
    align-items: flex-start;
    justify-content: center;
    border-radius: 0px;
    border-top: 0px;
}

.p {
    text-align: start;
    word-break: break-word;
    overflow-wrap: break-word;
}

.author {
    gap: 12px;
}